/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.width-100{
    width:100%;
}

.border-gray{
    padding: 0.5em;
    border:0.01em solid gray;
}
.border-gray-without-padding{
    border:0.01em solid gray;
}

.btn-left-margin{
    margin-left: 1%;
}

.top-bottom-padding{
    padding-top: 1%;
    padding-bottom: 1%;
}

.flex-container{
    display: flex;
    height:7vh;
    
}

.flex-container >div{
    border: 1px solid gray;
}

.video-section{
    flex-basis: 10%;
}

.justufyContentCenter{
    display: flex;
    justify-content: center;
    align-items:center
}

.infoSection{
    flex:3;
    
}

.speedSection{
    flex:1;
}

.progressSection{
    flex:1;
}