<div class="container">
  <div class="card">
    <div class="card-block">
      <form class="form-inline">
        <div class="col-md-10">
          <div class="form-group w-100">
            <input type="text" class="form-control w-100" on-focusout="focusOut()" on-focus="focusOn()" [placeholder]="placeHolder">
          </div>
        </div>
        <div class="col-md-2">
           <input type="submit" class="btn btn-primary width-100" value="Download">
        </div>
       </form>
    </div>
  </div>
</div>