<hr>
<div class="container">
  <div class="">
    <div class="flex-container">
      <div class="video-section justufyContentCenter">
        <img src="https://fbnewsroomus.files.wordpress.com/2015/04/messenger-video-call-carousel-icon.png?w=960" alt="" style="width:100px;height:100%" >
      </div>
      <div class="infoSection justufyContentCenter">
        {{info}}
      </div>
      <div class="speedSection justufyContentCenter">
        {{speed}}
      </div>
      <div class="progressSection justufyContentCenter">
        {{progress}}
      </div>
    </div>
</div>
</div>
